<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>30. Geburtstag – Joelle’s grosse Party 🎉</title>
		<meta
			name="description"
			content="Feiere Joelle’s 30. Geburtstag mit Bowling, Drinks & Spass! Alle Infos zur Party, Programm und Geschenkwünsche."
		/>

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="30. Geburtstag – Joelle’s grosse Party 🎉"
		/>
		<meta
			property="og:description"
			content="Feiere Joelle’s 30. Geburtstag mit Bowling, Drinks & Spass! Alle Infos zur Party, Programm und Geschenkwünsche."
		/>
		<meta
			property="og:image"
			content="https://30.geburtstag.joelle-alex.ch/share.png"
		/>
		<meta
			property="og:url"
			content="https://30.geburtstag.joelle-alex.ch"
		/>

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="30. Geburtstag – Joelle’s grosse Party 🎉"
		/>
		<meta
			name="twitter:description"
			content="Feiere Joelle’s 30. Geburtstag mit Bowling, Drinks & Spass! Alle Infos zur Party, Programm und Geschenkwünsche."
		/>
		<meta
			name="twitter:image"
			content="https://30.geburtstag.joelle-alex.ch/share.png"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
